{% extends 'base.html' %}
{% block title %}
Fetch
{% endblock title %}
{% block head %}
  <div class="text-center">
    <h1>Records </h1>
  </div>
{% endblock head %}
{% block body %}
<div class="container mt-5">
    <h1>Last login Member Data </h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        
        <th scope="col">UserEmail</th>
        <th scope="col">login Time</th>
        <th scope="col">Date Join</th>
       

      </tr>
    </thead>
    <tbody>
        {% for user in last_five_user_data %}
      <tr>
        <th scope="row">{{ user.id }}</th>
       
        <td>{{ user.email }}</td>
        <td>{{ user.last_login }}</td>
        <td>{{ user.date_joined }}</td>

      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  
  
  
</div>
{% comment %} <div class="container mt-5">
    <h1>Trainer Book By User</h1>

  <table class="table">
     <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        
        <th scope="col">UserEmail</th>
        <th scope="col">login Time</th>
        <th scope="col">Date Join</th>
       

      </tr>
    </thead>
    <tbody>
        {% for user in last_five_user_data %}
       <tr>
        <th scope="row">{{ user.id }}</th>
       
        <td>{{ user.email }}</td>
        <td>{{ user.last_login }}</td>
        <td>{{ user.date_joined }}</td>

      </tr>  
      <li>
        <strong>User:</strong> {{ enrollment.FullName }} - {{ enrollment.Email }}<br>
        <strong>Trainer:</strong> {{ enrollment.SelectTrainer.name }} - {{ enrollment.SelectTrainer.phone }}
    </li>
      {% endfor %}
      
    </tbody>
  </table>
  
  
  
</div> {% endcomment %}





{% endblock body %}